header{
    width: 350px;
    height: 60px;
    margin: auto;
}
a{
    text-decoration: white;
}
ul>li{
    list-style: none;
    padding: 20px;
    background-color: rgb(94,156,211);
    margin-left: 10px;
    cursor: pointer;
}
header>ul>li{
    float: left;
}
article{
    background-color:pink;
    height: 700px;
    width: 700px;
    margin: auto;
}
